@model IEnumerable<ModeladorApp.Models.Entities.TB_PERMISOS>


<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<script type="text/javascript">

    var ArrayCamposPermiso = [];

    function AddPermiso() {

        //var tipos = $("input[type='radio']");
        //var tipoSeleccionado = tipos.filter(":checked");

        var proyecto = $('#selectProyecto').val();
        var usuario = $('#selectUsuario').val();
        var permiso = $('form input[type=radio]:checked').val();
 
        var ArrayCamposPermiso = [];

        if (proyecto != "" && proyecto != null) {
            ArrayCamposPermiso.push(proyecto);
        }

        if (usuario != "" && usuario != null) {
            ArrayCamposPermiso.push(usuario);
        }

        if (permiso != "" && permiso != null) {
            ArrayCamposPermiso.push(permiso);
        }

        var nroCamposLlenos = ArrayCamposPermiso.length;

        if (nroCamposLlenos == 3) {

            url = "/Permisos/FunInsertPermiso";
            $.get(url, { py: proyecto, user: usuario, per: permiso  }, function (data) {

                //console.log(data);
                if (data >= 1) {

                    swal({
                        title: "OK",
                        text: "Se Añadio el Permiso con Exito",
                        type: "success"
                    }
                        , function () {
                            //window.location = "http://172.17.1.38:8188/Home/Index";
                            window.location = "https://localhost:5001/Permisos/VerPermisos";
                        }
                    );
                }
                else {
                    swal({
                        title: "ERROR",
                        text: "Hubo un problema al Agregar el Permiso",
                        type: "warning"
                    });
                }

            });



            $('#modal-permiso').modal('toggle');

        } else {

            swal({
                title: "ERROR",
                text: "Te falta completar Campos",
                type: "warning"
            });

        }          

    }
</script>


<form asp-action="VerPermisos" method="get">

    <div class="container-fluid">
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">
                        Inicio
                    </div>
                    <h2 class="page-title">
                        Administración de Permisos: @ViewBag.permiso
                    </h2>
                </div>

                <!-- Page title actions -->
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <span class="d-none d-sm-inline">
                            <label class="form-label col-6 col-form-label">Permisos: </label>
                        </span>

                        <span class="d-none d-sm-inline">
                            <select class="form-select" name="tipoPermiso">
                                <option selected="@ViewBag.permiso">@ViewBag.permiso</option>
                                <option value="CREADOS">CREADOS</option>
                                <option value="CONCEDIDOS">CONCEDIDOS</option>
                            </select>
                        </span>

                        <button type="submit" class="btn btn-primary d-none d-sm-inline-block">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="10" cy="10" r="7"></circle>
                                <line x1="21" y1="21" x2="15" y2="15"></line>
                            </svg>
                            Mostrar
                        </button>

                        <a href="#" class="btn btn-white d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-permiso">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                            Agregar Permiso
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="container-fluid">

            <div class="row row-deck row-cards">

                <div class="col-lg-12">
                    <div class="row row-cards">

                        <div class="col-12">
                            <div class="card">
                                <div class="table-responsive">
                                    <table class="table table-vcenter table-mobile-md card-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    #
                                                </th>
                                                <th>Proyecto</th>
                                                <th>Permiso Creado Por</th>
                                                <th>Permiso</th>
                                                <th>Permiso Concedido A</th>
                                                <th>Fecha de Creacion/Otorgacion</th>
                                                <th class="w-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int count = 1;
                                            }
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-muted" data-label="#">
                                                        @count
                                                    </td>

                                                    <td class="text-muted" data-label="Proyecto">
                                                        @Html.DisplayFor(modelItem => item.TB_PROYECTO.NombreProyecto)
                                                    </td>

                                                    <td class="text-muted" data-label="Permiso Creado Por">
                                                        <strong>@Html.DisplayFor(modelItem => item.UsuarioCreacionName)</strong>
                                                    </td>

                                                    <td class="text-muted" data-label="Permiso">
                                                        @Html.DisplayFor(modelItem => item.Permiso)
                                                    </td>

                                                    <td class="text-muted" data-label="Permiso Concedido A">
                                                        <strong>@Html.DisplayFor(modelItem => item.UsuarioConcedidoName)</strong>
                                                    </td>

                                                    <td class="text-muted" data-label="Fecha de Creacion/Otorgacion">
                                                        @Html.DisplayFor(modelItem => item.FechaPermisoCreado)
                                                    </td>

                                                    <td>
                                                        <div class="btn-list flex-nowrap">

                                                            @if (item.UsuarioCreacionId == ViewBag.usuario)
                                                            {
                                                                <a href="#" class="btn btn-white">
                                                                    Modificar
                                                                </a>
                                                                <a href="#" class="btn btn-red">
                                                                    Eliminar
                                                                </a>
                                                            }

                                                            @*<div class="dropdown">
                                                                    <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">
                                                                        Actions
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-end">
                                                                        <a class="dropdown-item" href="#">
                                                                            Action
                                                                        </a>
                                                                        <a class="dropdown-item" href="#">
                                                                            Another action
                                                                        </a>
                                                                    </div>
                                                                </div>*@
                                                        </div>
                                                    </td>
                                                </tr>
                                                { count = count + 1; }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="modal modal-blur fade" id="modal-permiso" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Permiso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Selecciona uno de tus Proyectos</label>
                                <select class="form-select" id="selectProyecto"
                                        asp-items="@(new SelectList(ViewBag.proyectos, "ProyectoID", "NombreProyecto"))">
                                    <option selected=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Selecciona un Usuario</label>
                                <select class="form-select" id="selectUsuario"
                                        asp-items="@(new SelectList(ViewBag.users, "Id", "UsuarioNombreCompleto"))">
                                    <option selected=""></option>
                                </select>
                            </div>
                        </div>                        
                    </div>                  
                   
                    <label class="form-label">Tipo de Permiso</label>
                    <div class="form-selectgroup-boxes row mb-3">
                        <div class="col-lg-4">
                            <label class="form-selectgroup-item">
                                <input type="radio" name="report-type" value="ADMIN" class="form-selectgroup-input" checked>
                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                                    <span class="me-3">
                                        <span class="form-selectgroup-check"></span>
                                    </span>
                                    <span class="form-selectgroup-label-content">
                                        <span class="form-selectgroup-title strong mb-1">ADMIN</span>
                                        <span class="d-block text-muted">Permite Ver y Editar la información de Proyectos.</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="col-lg-4">
                            <label class="form-selectgroup-item">
                                <input type="radio" name="report-type" value="VIEWER" class="form-selectgroup-input">
                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                                    <span class="me-3">
                                        <span class="form-selectgroup-check"></span>
                                    </span>
                                    <span class="form-selectgroup-label-content">
                                        <span class="form-selectgroup-title strong mb-1">VIEWER</span>
                                        <span class="d-block text-muted">Permite Ver la información de Proyectos</span>
                                    </span>
                                </span>
                            </label>
                        </div>

                        <div class="col-lg-4">
                            <label class="form-selectgroup-item">
                                <input type="radio" name="report-type" value="EDITOR" class="form-selectgroup-input">
                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                                    <span class="me-3">
                                        <span class="form-selectgroup-check"></span>
                                    </span>
                                    <span class="form-selectgroup-label-content">
                                        <span class="form-selectgroup-title strong mb-1">EDITOR</span>
                                        <span class="d-block text-muted">Permite Editar la información de Proyectos</span>
                                    </span>
                                </span>
                            </label>
                        </div>

                    </div>

                </div>
               
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Cancelar
                    </a>
                    <a onclick="AddPermiso()" class="btn btn-primary ms-auto">                       
                        <svg xmlns="http://www.w3.org/2000/svg" 
                             class="icon" width="24" height="24" 
                             viewBox="0 0 24 24" stroke-width="2" 
                             stroke="currentColor" 
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" /><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                        Añadir
                    </a>
                </div>
            </div>
        </div>
    </div>

</form>