@model IEnumerable<ModeladorApp.Models.Entities.TB_PERMISOS>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />

    <title>ON - Modelador Web</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.38.0/skin-awesome/ui.fancytree.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.38.0/skin-bootstrap-n/ui.fancytree.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.38.0/skin-bootstrap/ui.fancytree.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.38.0/skin-xp/ui.fancytree.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <!-- This demo uses an 3rd-party, jQuery UI based context menu -->
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- jquery-contextmenu (https://github.com/mar10/jquery-ui-contextmenu/) -->
    <script src="//cdn.jsdelivr.net/npm/ui-contextmenu/jquery.ui-contextmenu.min.js"></script>

    <style type="text/css">
        .ui-menu {
            width: 180px;
            font-size: 63%;
        }

            .ui-menu kbd {
                /* Keyboard shortcuts for ui-contextmenu titles */
                float: right;
            }
        /* custom alignment (set by 'renderColumns'' event) */
        td.alignRight {
            text-align: right;
        }

        td.alignCenter {
            text-align: center;
        }

        td input[type="input"] {
            width: 40px;
        }

        /*scroll horizontal para ver las columnas que van añadiendo a derecha*/
        div.tab-pane {
            overflow: auto;
            white-space: nowrap;
        }
    </style>

    <script type="text/javascript">

        window.onload = loadTree();

        var CLIPBOARD = null;
        var tempPyId; // servirá para deshacernos de la vista del proyecto.

        var pySelected; //servira para identificar los valores de las cajitas por el id del tree elegido.

        async function loadTree(vIdProject, vPermiso) {

            var treeReach; //la que rendizará los datos en la tabla.
            var data; // la que contendra la data de la función asyncrona.

            //console.log(vPermiso);

            if (typeof (vIdProject) === 'undefined' || vIdProject == 0) {

                data = await funGetMasterData()
                treeReach = "tree_0";

                pySelected = 0;
            } else {
                data = await funGetPyFromUsuario(vIdProject)
                treeReach = "tree_" + vIdProject;
                tempPyId = vIdProject;

                pySelected = vIdProject;
            }

            if (data.length >= 1) {

                $("#loader").hide();

                if (typeof (vIdProject) === 'undefined' || vIdProject == 0) {

                    $("#proyecto_" + tempPyId).removeClass('active');
                    $('#proyecto_0').attr('class', "tab-pane active");

                } else {

                    $("#proyecto_0").removeClass('active');
                    $('#proyecto_' + vIdProject).attr('class', "tab-pane active");
                }

                $(function () {

                    $("#" + treeReach).fancytree({

                        titlesTabbable: true, // Add all node titles to TAB chain
                        quicksearch: true, // Jump to nodes when pressing first character
                        source: data,
                        // Llamada cada vez que se expande un nodo LAZY.
                        lazyLoad: function (event, data) {

                            var node = data.node;     //obtenemos el nodo
                            /*console.log(node.data.id);*/ // obtenemos el id para mandarlo como parent
                            //console.log(node.data.parentId)

                            data.result = {
                                url: "/Home/funGetSubLvls",
                                data: { parent: node.data.id },
                                cache: false
                            };
                        },

                        extensions: ["edit", "dnd5", "table", "gridnav"],

                        dnd5: {
                            preventVoidMoves: true,
                            preventRecursion: true,
                            autoExpandMS: 400,
                            dragStart: function (node, data) {


                                //function saveData(node.data.id);

                                return true;
                            },
                            dragEnter: function (node, data) {
                                // return ["before", "after"];
                                return true;
                            },
                            dragDrop: function (node, data) {
                                data.otherNode.moveTo(node, data.hitMode);
                            },
                        },
                        edit: {
                            triggerStart: ["f2", "shift+click", "mac+enter"],
                            close: function (event, data) {

                                if (data.save && data.isNew) {
                                    // Quick-enter: add new nodes until we hit [enter] on an empty title

                                    $("#tree").trigger("nodeCommand", {
                                        cmd: "addSibling",
                                    });

                                    //console.log("Se presionó ENTER");
                                    //console.log("------------------->>");
                                    //console.log(data.node.title); //enviar como title
                                    //console.log(data.node.parent.data.id) //enviar como parent id
                                    //console.log(data.node.parent.data.proyectoId) //enviar como proyectoId

                                    //------------------------>>AJAX GRABAR NVO NODO
                                    //console.log(data.node.parent.data);
                                    if (typeof (data.node.parent.data.parentId) === 'undefined') {

                                        Swal.fire('ADVERTENCIA', 'Intentas agregar un nodo hermano a la raiz del Árbol, aparecerá en la vista temporal, mas no se guardarán los cambios.', 'warning')

                                    } else if (vPermiso == "EDITOR") {
                                        $.ajax({
                                            type: "POST",
                                            dataType: "json",
                                            url: "/Home/funInsertLvl",
                                            data: {
                                                "titulo": data.node.title,
                                                "parent": data.node.parent.data.id,
                                                "projectId": data.node.parent.data.proyectoId
                                            },
                                            success: function (response) {
                                                //console.log(response);
                                            },
                                        });
                                        //------------------------>>AJAX GRABAR NVO NODO
                                        data.node.parent.resetLazy() //Recarga de nodo padre para obtener los ids de la data creada.
                                    } else {

                                        Swal.fire('ADVERTENCIA', 'Puedes editar el proyecto en su respectiva pestaña EDITOR, si tienes el permiso correspondiente.', 'warning')
                                    }
                                }
                            },
                        },
                        table: {
                            indentation: 20,
                            nodeColumnIdx: 1,
                            //checkboxColumnIdx: 0, //para poner checkboxes en la columna 1
                        },
                        gridnav: {
                            autofocusInput: false,
                            handleCursorKeys: true,
                        },
                        createNode: function (event, data) {
                            var node = data.node,
                                $tdList = $(node.tr).find(">td");

                            //console.log("Desglose de nodo...");

                            // Span the remaining columns if it's a folder.
                            // We can do this in createNode instead of renderColumns, because
                            // the `isFolder` status is unlikely to change later
                            if (node.isFolder()) {
                                $tdList
                                    .eq(2)
                                    .prop("colspan", 6)
                                    .nextAll()
                                    .remove();
                            }
                        },
                        renderColumns: function (event, data) {
                            var node = data.node,
                                $tdList = $(node.tr).find(">td");

                            //console.log(data);
                            // (Index #0 is rendered by fancytree by adding the checkbox)
                            // Set column #1 info from node data:
                            $tdList.eq(0).text(node.getIndexHier());
                            // (Index #2 is rendered by fancytree)

                            //---------------------------------------------------------->>>

                            // 50 cajas para nombres de  columnas.
                            var colName = "";

                            for (i = 1; i <= 50; i++) {

                                $('#' + treeReach + '_th' + i).remove(); //removemos para que no se vuelvan a crear.
                                colName = colName + '<th id="' + treeReach + '_th' + i + '" ><input id="' + treeReach + '_colname' + i + '" type="text" placeholder="col nombre ' + i + '"></th>';
                            }
                            $('#head_' + treeReach).append(colName).fadeIn(300000);


                            //console.log(node.data.id);
                            //---------> obtener los datos de la tabla TB_NIVEL_INFO segun el id.

                            var info = funGetInfo(node.data.id)
                            info.then(function (result) {
                                //console.log(result);
                                //var j = 0;
                                // cajas para ingresar los valores, creadas estáticamente en el código HTML
                                var m = 2;                                

                                for (n = 0; n <= result.length - 1; n++) {

                                    for (i = 2; i <= 51; i++) {
                                                                    
                                        $tdList.eq(m).html('<input type="text" id="' + treeReach + '_colvalue' + result[n].infoID + '" value="' + result[n].informacion + '" onchange="actualizarInfoGrilla(`tree_' + pySelected + '`,`' + result[n].infoID + '`)">');                                                                                                                  
                                        
                                    }                                  
                                    m = m + 1;

                                    for (j = m; j <= 51 ; j++) {
                                        $tdList.eq(j).html('<input id="' + treeReach + '_colvalue_' + j + '" onchange="actualizarInfoGrilla(`tree_' + pySelected + '`,`' + 0 + '`,`' + j + '`,`' + node.data.id + '`)" type="text"/>');
                                        
                                    }
                                }

                            });                        


                            // Podemos setear la información en la columna 2 (la que continua al titulo.)
                            //$tdList.eq(2).find("input").val("hola");
                            //$tdList.eq(2).html('<input type="text" value="' + node.data.id + '">');
                        },
                        modifyChild: function (event, data) {
                            data.tree.info(event.type, data);

                            //console.log(data.childNode.data.id);
                            //console.log(data.childNode.title); //nombre a actualizar
                            //console.log("------------>>")

                            if (data.node.parent != null) {
                                //console.log("Tiene parent")
                                //Buscar que solo actualice nodos cuando tienen un id
                                try {
                                    if (data.childNode.data.id != null && vPermiso == "EDITOR") {
                                        //console.log("entro al update")
                                        //------------------------>>AJAX Actualizar Nombre de Nodos hijos
                                        $.ajax({
                                            type: "POST",
                                            dataType: "json",
                                            url: "/Home/funUpdateLvlName",
                                            data: {
                                                "Id": data.childNode.data.id,
                                                "nombre": data.childNode.title,
                                            },
                                            success: function (response) {
                                                //console.log(response);
                                            },
                                        });
                                        //------------------------>>AJAX Actualizar Nombre de Nodos hijos
                                    }
                                } catch (error) {
                                    //console.log("entro al error")
                                    //console.error(error);
                                }

                            } else if (data.childNode.data.id != null && vPermiso == "EDITOR") {
                                //console.log("No se puede realizar nada sin nodo padre.");
                                //console.log(data.childNode.data.id) //id para actualizar nombre del nodo padre
                                //console.log(data.childNode.title) //nuevo titulo de nodo padre.

                                //------------------------>>AJAX Actualizar Nombre de Nodo Padre
                                $.ajax({
                                    type: "POST",
                                    dataType: "json",
                                    url: "/Home/funUpdateLvlName",
                                    data: {
                                        "Id": data.childNode.data.id,
                                        "nombre": data.childNode.title,
                                    },
                                    success: function (response) {
                                        //console.log(response);
                                    },
                                });
                                //------------------------>>AJAX Actualizar Nombre de Nodo Padre

                            }

                        },
                    })
                        .on("nodeCommand", function (event, data) {
                            // Custom event handler that is triggered by keydown-handler and
                            // context menu:
                            var refNode,
                                moveMode,
                                tree = $.ui.fancytree.getTree(this),
                                node = tree.getActiveNode();

                            //console.log("--------------------->>Add")
                            //console.log(node.data.id) //enviar como parent id
                            //console.log(node.childNode) //enviar como parent id
                            //console.log("--------------------->>Add")

                            switch (data.cmd) {
                                case "addChild":
                                case "addSibling":
                                //console.log("------------>>")
                                //console.log(data.cmd)
                                case "indent":
                                case "moveDown":
                                case "moveUp":
                                case "outdent":

                                case "remove":
                                    tree.applyCommand(data.cmd, node);

                                    if (data.cmd == "remove" && vPermiso == "EDITOR") {

                                        //console.log(node.data.id); // id a eliminar padre e hijos.
                                        //------------------------>>AJAX Eliminar Nivel Padre e Hijos
                                        $.ajax({
                                            type: "POST",
                                            dataType: "json",
                                            url: "/Home/funDeleteLvlAndSublvls",
                                            data: {
                                                "Id": node.data.id,
                                            },
                                            success: function (response) {
                                                //console.log(response);
                                            },
                                        });
                                        //------------------------>>AJAX Eliminar Nivel Padre e Hijos
                                    };

                                    break;

                                case "rename":
                                    tree.applyCommand(data.cmd, node);

                                    break;
                                case "cut":
                                    CLIPBOARD = { mode: data.cmd, data: node };
                                    break;
                                case "copy":
                                    CLIPBOARD = {
                                        mode: data.cmd,
                                        data: node.toDict(true, function (dict, node) {
                                            delete dict.key;
                                        }),
                                    };
                                    break;
                                case "clear":
                                    CLIPBOARD = null;
                                    break;
                                case "paste":
                                    if (CLIPBOARD.mode === "cut") {
                                        // refNode = node.getPrevSibling();
                                        CLIPBOARD.data.moveTo(node, "child");
                                        CLIPBOARD.data.setActive();
                                    } else if (CLIPBOARD.mode === "copy") {
                                        node.addChildren(
                                            CLIPBOARD.data
                                        ).setActive();
                                    }
                                    break;
                                case "showgrid":
                                    //tree.applyCommand(data.cmd, node);
                                    console.log("Mostrar columnas");
                                    console.log(node)
                                    //console.log(node.data.id); // id del nodo.
                                    //addColumn(treeReach, node.data.id);
                                    break;
                                case "hidegrid":
                                    //tree.applyCommand(data.cmd, node);
                                    console.log("ocultar columnas");
                                    console.log(node)
                                    //console.log(node.data.id); // id del nodo.
                                    //addColumn(treeReach, node.data.id);
                                    break;
                                case "newcolumn":
                                    //tree.applyCommand(data.cmd, node);
                                    console.log("Nueva columna");
                                    console.log(node)
                                    //console.log(node.data.id); // id del nodo.
                                    //addColumn(treeReach, node.data.id);
                                    break;
                                default:
                                    alert("Unhandled command: " + data.cmd);
                                    return;
                            }
                        })
                        .on("keydown", function (e) {
                            var cmd = null;

                            // console.log(e.type, $.ui.fancytree.eventToString(e));
                            switch ($.ui.fancytree.eventToString(e)) {
                                case "ctrl+shift+n":
                                case "meta+shift+n": // mac: cmd+shift+n
                                    cmd = "addChild";
                                    break;
                                case "ctrl+c":
                                case "meta+c": // mac
                                    cmd = "copy";
                                    break;
                                case "ctrl+v":
                                case "meta+v": // mac
                                    cmd = "paste";
                                    break;
                                case "ctrl+x":
                                case "meta+x": // mac
                                    cmd = "cut";
                                    break;
                                case "ctrl+n":
                                case "meta+n": // mac
                                    cmd = "addSibling";
                                    break;
                                case "del":
                                case "meta+backspace": // mac
                                    cmd = "remove";
                                    break;
                                // case "f2":  // already triggered by ext-edit pluging
                                //   cmd = "rename";
                                //   break;
                                case "ctrl+up":
                                case "ctrl+shift+up": // mac
                                    cmd = "moveUp";
                                    break;
                                case "ctrl+down":
                                case "ctrl+shift+down": // mac
                                    cmd = "moveDown";
                                    break;
                                case "ctrl+right":
                                case "ctrl+shift+right": // mac
                                    cmd = "indent";
                                    break;
                                case "ctrl+left":
                                case "ctrl+shift+left": // mac
                                    cmd = "outdent";
                            }
                            if (cmd) {
                                $(this).trigger("nodeCommand", { cmd: cmd });
                                return false;
                            }
                        });

                    /*
                     * Tooltips
                     */
                    // $("#tree").tooltip({
                    //   content: function () {
                    //     return $(this).attr("title");
                    //   }
                    // });

                    /*
                     * Context menu (https://github.com/mar10/jquery-ui-contextmenu)
                     */
                    $("#" + treeReach).contextmenu({
                        delegate: "span.fancytree-node",
                        menu: [
                            {
                                title: "Editar <kbd>[F2]</kbd>",
                                cmd: "rename",
                                uiIcon: "ui-icon-pencil",
                            },
                            {
                                title: "Eliminar <kbd>[Del]</kbd>",
                                cmd: "remove",
                                uiIcon: "ui-icon-trash",
                            },
                            { title: "----" },
                            {
                                title: "Nuevo Hermano <kbd>[Ctrl+N]</kbd>",
                                cmd: "addSibling",
                                uiIcon: "ui-icon-plus",
                            },
                            {
                                title: "Nuevo Hijo <kbd>[Ctrl+Shift+N]</kbd>",
                                cmd: "addChild",
                                uiIcon: "ui-icon-arrowreturn-1-e",
                            }, {
                                title: "Mostrar Grilla",
                                cmd: "showgrid",
                            },
                            {
                                title: "Ocultar Grilla",
                                cmd: "hidegrid",
                            },
                            {
                                title: "Nueva Columna",
                                cmd: "newcolumn",
                                uiIcon: "ui-icon-plus",
                            },
                            //{ title: "----" },
                            //{
                            //    title: "Cortar <kbd>Ctrl+X</kbd>",
                            //    cmd: "cut",
                            //    uiIcon: "ui-icon-scissors",
                            //},
                            //{
                            //    title: "Copiar <kbd>Ctrl-C</kbd>",
                            //    cmd: "copy",
                            //    uiIcon: "ui-icon-copy",
                            //},
                            //{
                            //    title: "Pegar as child<kbd>Ctrl+V</kbd>",
                            //    cmd: "paste",
                            //    uiIcon: "ui-icon-clipboard",
                            //    disabled: true,
                            //},

                        ],
                        beforeOpen: function (event, ui) {
                            var node = $.ui.fancytree.getNode(ui.target);
                            $("#" + treeReach).contextmenu(
                                "enableEntry",
                                "paste",
                                !!CLIPBOARD
                            );
                            node.setActive();
                        },
                        select: function (event, ui) {
                            var that = this;
                            // delay the event, so the menu can close and the click event does
                            // not interfere with the edit control
                            setTimeout(function () {
                                $(that).trigger("nodeCommand", { cmd: ui.cmd });
                            }, 100);
                        },
                    });

                }); //---------> End Fancytree..

            } else {

                //console.log("proyecto de usuario");

            } //--------> End If
        }

        //---------------- carga de proyecto MASTER
        function funGetMasterData() {
            var url = "/Home/funGetLvl";
            return $.get(url, {}, function (data) {
                //console.log(data);
            });
        };

        //---------------- carga de proyecto de Usuario...
        function funGetPyFromUsuario(vIdProject) {
            var url = "/Home/funGetLvlFromPyUsuario";
            return $.get(url, { idProyecto: vIdProject }, function (data) {
                //console.log(data);
            });
        };

        //-------------------------------- para obtener la info de cada nivel...
        async function funGetInfo(lvlID) {
            return info = await funGetInfoFromDB(lvlID);
            //var info = await funGetInfoFromDB(lvlID);
            //console.log(info)
        };

        function funGetInfoFromDB(lvlID) {
            var url = "/Home/funGetInfoFromDB";
            return $.get(url, { lvlId: lvlID }, function (data) {
                //console.log(data);
            });
        }



        function ingresarInfoGrilla(lvlId, tree, i) {

            var valorCaja = $('#' + tree + '_colvalue' + i).val();
            console.log(valorCaja);
            console.log(lvlId, i);

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Home/funInsertInfo",
                data: {
                    "idLvl": lvlId,
                    "info": valorCaja,
                },
                success: function (response) {

                    if (response > 0) {

                        $('#' + tree + '_colvalue' + i).removeAttr("onchange");
                        $('#' + tree + '_colvalue' + i).attr('onchange', "actualizarInfoGrilla(`tree_" + pySelected + '`,`' + response + '`)');

                        Swal.fire({
                            toast: true,
                            background: 'orange',
                            icon: 'success',
                            title: 'Información guardada',
                            animation: false,
                            position: 'bottom',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        })

                    } else {
                        Swal.fire({
                            toast: true,
                            background: 'orange',
                            icon: 'error',
                            title: 'Hubo un problema',
                            animation: false,
                            position: 'bottom',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        })
                    }
                },
            });

        }

        function actualizarInfoGrilla(tree, id, i, nodeId) {

            //tree: referencia al arbol
            //id: el id para actualizar en caso haya un registro guardado.
            //i: el contador de la caja empezando en 2 de izquierda a derecha hasta el 51
            //nodeId: el valor del nivel del nodo en el que estamos.


            var urlToGo = "";
            var dataToGo;

            if (id > 0) {

                console.log("ACTUALIZAR ! ")
            } else {

                console.log("INSERTAR ! ")
            }

            //var valorCajaUpdate = $('#' + tree + '_colvalue' + id).val();
            //console.log(tree);
            //console.log(id);

            var valorCajaInsert = $('#' + tree + '_colvalue_' + i).val();           

            console.log(valorCajaInsert)
            console.log(nodeId)
           

            //$.ajax({
            //    type: "POST",
            //    dataType: "json",
            //    url: "/Home/funUpdateInfo",
            //    data: {
            //        "id": id,
            //        "informacion": valorCajaUpdate,
            //    },
            //    success: function (response) {

            //        if (response > 0) {

            //            Swal.fire({
            //                toast: true,
            //                background: 'orange',
            //                icon: 'success',
            //                title: 'Información actualizada',
            //                animation: false,
            //                position: 'bottom',
            //                showConfirmButton: false,
            //                timer: 3000,
            //                timerProgressBar: true,
            //                didOpen: (toast) => {
            //                    toast.addEventListener('mouseenter', Swal.stopTimer)
            //                    toast.addEventListener('mouseleave', Swal.resumeTimer)
            //                }
            //            })

            //        } else {

            //            Swal.fire({
            //                toast: true,
            //                background: 'orange',
            //                icon: 'error',
            //                title: 'Hubo un problema',
            //                animation: false,
            //                position: 'bottom',
            //                showConfirmButton: false,
            //                timer: 3000,
            //                timerProgressBar: true,
            //                didOpen: (toast) => {
            //                    toast.addEventListener('mouseenter', Swal.stopTimer)
            //                    toast.addEventListener('mouseleave', Swal.resumeTimer)
            //                }
            //            })
            //        }

            //    },
            //});


        }


        //-------------------------------- para obtener la info de cada nivel...

        function expandOrContract(vIdProyecto) {

            $("#tree_" + vIdProyecto).fancytree("getRootNode").visit(function (node) {
                if (node.isExpanded() == true) {
                    node.setExpanded(false);
                } else {
                    node.setExpanded(true);
                }
            });
        }

        //Mensajito para la informacion que se puede editar proyecto
        function EdicionInfo() {

            Swal.fire('EDITOR', 'Puedes editar éste proyecto en su respectiva pestaña EDITOR, ya sea porque es tuyo o porque te concedieron dicho permiso.', 'info')

        }

        //function addColumn(tree, nodoId) {
        //    console.log(tree,nodoId)
        //    $('#' + tree + ' thead tr').append('<th id=th' + nodoId +'>Col</th>');
        //    $('#' + tree + ' tbody tr').append('<td id=td' + nodoId +'><input type="text" placeholder="Ingrese algo"></td>');
        //}

    </script>
</head>

<body class="example">

    <ul class="nav nav-tabs nav-fill" data-bs-toggle="tabs">

        <li class="nav-item">
            <a href="#master" onclick="loadTree(0)" class="nav-link active"
               data-bs-toggle="tab"><strong>MASTER</strong></a>
        </li>

        @foreach (var item in Model)
        {
            <li class="nav-item">
                <a href="#proyecto_@item.ProyectoID" onclick="loadTree('@item.ProyectoID', '@item.Permiso')" class="nav-link"
                   data-bs-toggle="tab">@Html.DisplayFor(modelItem => item.TB_PROYECTO.NombreProyecto) (@item.Permiso)</a>
            </li>
        }

    </ul>

    <div class="card">

        @*Loader*@
        <div class="card-body" id="loader">
            <div class="empty">
                <div class="empty-img">
                    <img src="https://miro.medium.com/max/875/1*CsJ05WEGfunYMLGfsT2sXA.gif" height="128">
                </div>
                <p class="empty-title">Cargando proyectos...</p>
            </div>
        </div>
        @*Loader*@

        <div class="tab-content">

            <div class="tab-pane" id="proyecto_0">

                <div class="row align-items-center">
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <span class="d-none d-sm-inline">
                                <a onclick="expandOrContract(0)" class="btn btn-secondary">
                                    Expandir/Contraer
                                </a>
                            </span>

                            <span class="d-none d-sm-inline">
                                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-new-project">
                                    Clonar
                                </a>
                            </span>

                        </div>
                    </div>
                </div>

                <table id="tree_0">
                    <colgroup>
                        <col width="2%" />
                        <col width="58%" />
                        <col width="1%" />
                    </colgroup>
                    <thead>
                        <tr id="head_tree_0">
                            <th>#</th>
                            <th>Identificador - Nombre</th>

                        </tr>
                    </thead>
                    <tbody>
                        <!-- Define a row template for all invariant markup: -->
                        <tr>
                            <td><input type="text" id="tree_0_colvalue_2" onchange="actualizarInfoGrilla('tree_0',0,2)" /></td>
                            <td><input type="text" id="tree_0_colvalue_3" onchange="actualizarInfoGrilla('tree_0',0,3)" /></td>
                            <td><input type="text" id="tree_0_colvalue_4" onchange="actualizarInfoGrilla('tree_0',0,4)" /></td>
                            <td><input type="text" id="tree_0_colvalue_5" onchange="actualizarInfoGrilla('tree_0',0,5)" /></td>
                            <td><input type="text" id="tree_0_colvalue_6" onchange="actualizarInfoGrilla('tree_0',0,6)" /></td>
                            <td><input type="text" id="tree_0_colvalue_7" onchange="actualizarInfoGrilla('tree_0',0,7)" /></td>
                            <td><input type="text" id="tree_0_colvalue_8" onchange="actualizarInfoGrilla('tree_0',0,8)" /></td>
                            <td><input type="text" id="tree_0_colvalue_9" onchange="actualizarInfoGrilla('tree_0',0,9)" /></td>
                            <td><input type="text" id="tree_0_colvalue_10" onchange="actualizarInfoGrilla('tree_0',0,10)" /></td>
                            <td><input type="text" id="tree_0_colvalue_11" onchange="actualizarInfoGrilla('tree_0',0,11)" /></td>
                            <td><input type="text" id="tree_0_colvalue_12" onchange="actualizarInfoGrilla('tree_0',0,12)" /></td>
                            <td><input type="text" id="tree_0_colvalue_13" onchange="actualizarInfoGrilla('tree_0',0,13)" /></td>
                            <td><input type="text" id="tree_0_colvalue_14" onchange="actualizarInfoGrilla('tree_0',0,14)" /></td>
                            <td><input type="text" id="tree_0_colvalue_15" onchange="actualizarInfoGrilla('tree_0',0,15)" /></td>
                            <td><input type="text" id="tree_0_colvalue_16" onchange="actualizarInfoGrilla('tree_0',0,16)" /></td>
                            <td><input type="text" id="tree_0_colvalue_17" onchange="actualizarInfoGrilla('tree_0',0,17)" /></td>
                            <td><input type="text" id="tree_0_colvalue_18" onchange="actualizarInfoGrilla('tree_0',0,18)" /></td>
                            <td><input type="text" id="tree_0_colvalue_19" onchange="actualizarInfoGrilla('tree_0',0,19)" /></td>
                            <td><input type="text" id="tree_0_colvalue_20" onchange="actualizarInfoGrilla('tree_0',0,20)" /></td>
                            <td><input type="text" id="tree_0_colvalue_21" onchange="actualizarInfoGrilla('tree_0',0,21)" /></td>
                            <td><input type="text" id="tree_0_colvalue_22" onchange="actualizarInfoGrilla('tree_0',0,22)" /></td>
                            <td><input type="text" id="tree_0_colvalue_23" onchange="actualizarInfoGrilla('tree_0',0,23)" /></td>
                            <td><input type="text" id="tree_0_colvalue_24" onchange="actualizarInfoGrilla('tree_0',0,24)" /></td>
                            <td><input type="text" id="tree_0_colvalue_25" onchange="actualizarInfoGrilla('tree_0',0,25)" /></td>
                            <td><input type="text" id="tree_0_colvalue_26" onchange="actualizarInfoGrilla('tree_0',0,26)" /></td>
                            <td><input type="text" id="tree_0_colvalue_27" onchange="actualizarInfoGrilla('tree_0',0,27)" /></td>
                            <td><input type="text" id="tree_0_colvalue_28" onchange="actualizarInfoGrilla('tree_0',0,28)" /></td>
                            <td><input type="text" id="tree_0_colvalue_29" onchange="actualizarInfoGrilla('tree_0',0,29)" /></td>
                            <td><input type="text" id="tree_0_colvalue_30" onchange="actualizarInfoGrilla('tree_0',0,30)" /></td>
                            <td><input type="text" id="tree_0_colvalue_31" onchange="actualizarInfoGrilla('tree_0',0,31)" /></td>
                            <td><input type="text" id="tree_0_colvalue_32" onchange="actualizarInfoGrilla('tree_0',0,32)" /></td>
                            <td><input type="text" id="tree_0_colvalue_33" onchange="actualizarInfoGrilla('tree_0',0,33)" /></td>
                            <td><input type="text" id="tree_0_colvalue_34" onchange="actualizarInfoGrilla('tree_0',0,34)" /></td>
                            <td><input type="text" id="tree_0_colvalue_35" onchange="actualizarInfoGrilla('tree_0',0,35)" /></td>
                            <td><input type="text" id="tree_0_colvalue_36" onchange="actualizarInfoGrilla('tree_0',0,36)" /></td>
                            <td><input type="text" id="tree_0_colvalue_37" onchange="actualizarInfoGrilla('tree_0',0,37)" /></td>
                            <td><input type="text" id="tree_0_colvalue_38" onchange="actualizarInfoGrilla('tree_0',0,38)" /></td>
                            <td><input type="text" id="tree_0_colvalue_39" onchange="actualizarInfoGrilla('tree_0',0,39)" /></td>
                            <td><input type="text" id="tree_0_colvalue_40" onchange="actualizarInfoGrilla('tree_0',0,40)" /></td>
                            <td><input type="text" id="tree_0_colvalue_41" onchange="actualizarInfoGrilla('tree_0',0,41)" /></td>
                            <td><input type="text" id="tree_0_colvalue_42" onchange="actualizarInfoGrilla('tree_0',0,42)" /></td>
                            <td><input type="text" id="tree_0_colvalue_43" onchange="actualizarInfoGrilla('tree_0',0,43)" /></td>
                            <td><input type="text" id="tree_0_colvalue_44" onchange="actualizarInfoGrilla('tree_0',0,44)" /></td>
                            <td><input type="text" id="tree_0_colvalue_45" onchange="actualizarInfoGrilla('tree_0',0,45)" /></td>
                            <td><input type="text" id="tree_0_colvalue_46" onchange="actualizarInfoGrilla('tree_0',0,46)" /></td>
                            <td><input type="text" id="tree_0_colvalue_47" onchange="actualizarInfoGrilla('tree_0',0,47)" /></td>
                            <td><input type="text" id="tree_0_colvalue_48" onchange="actualizarInfoGrilla('tree_0',0,48)" /></td>
                            <td><input type="text" id="tree_0_colvalue_49" onchange="actualizarInfoGrilla('tree_0',0,49)" /></td>
                            <td><input type="text" id="tree_0_colvalue_50" onchange="actualizarInfoGrilla('tree_0',0,50)" /></td>
                            <td><input type="text" id="tree_0_colvalue_51" onchange="actualizarInfoGrilla('tree_0',0,51)" /></td>
                            <td><input type="text" id="tree_0_colvalue_52" onchange="actualizarInfoGrilla('tree_0',0,52)" /></td>
                            <td><input type="text" id="tree_0_colvalue_53" onchange="actualizarInfoGrilla('tree_0',0,53)" /></td>


                        </tr>
                    </tbody>
                </table>

            </div>

            @foreach (var item in Model)
            {
                <div class="tab-pane" id="proyecto_@item.ProyectoID">

                    <div class="row align-items-center">
                        <div class="col-auto ms-auto d-print-none">
                            <div class="btn-list">
                                <span class="d-none d-sm-inline">
                                    <a onclick="expandOrContract(@item.ProyectoID)" class="btn btn-secondary">
                                        Expandir/Contraer
                                    </a>
                                </span>
                                @if (item.Permiso == "EDITOR")
                                {
                                    <span class="d-none d-sm-inline">
                                        <a onclick="EdicionInfo()" class="btn btn-primary">
                                            Puedes editar este proyecto
                                        </a>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>


                    <table id="tree_@item.ProyectoID">
                        <colgroup>
                            <col width="2%" />
                            <col width="58%" />
                            <col width="1%" />
                        </colgroup>
                        <thead>
                            <tr id="head_tree_@item.ProyectoID">
                                <th>#</th>
                                <th>Identificador - Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Define a row template for all invariant markup: -->
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            }

        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-new-project" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Clonar Proyecto MASTER</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label">Nombre</label>
                                <input id="txtPyNombre" type="text" class="form-control"
                                       name="example-text-input" placeholder="Escribe un Nombre para tu Proyecto">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div>
                                <label class="form-label">Describe tu proyecto</label>
                                <textarea id="txtPyDescripcion" class="form-control" rows="8"></textarea>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Cancelar
                    </a>
                    <a onclick="createProject()" class="btn btn-primary ms-auto">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="icon" width="24" height="24"
                             viewBox="0 0 24 24" stroke-width="2"
                             stroke="currentColor"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="12" y1="5" x2="12" y2="19" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                        </svg>
                        Clonar
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- (Irrelevant source removed.) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.38.0/jquery.fancytree-all-deps.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.38.0/jquery.fancytree.min.js"></script>

</body>

</html>