@model IEnumerable<ModeladorApp.Models.Entities.TB_PERMISOS>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
    <title>ON - Modelador Web</title>
    @*<title>@ViewBag.strAplicacionTitulo | @ViewBag.Title</title>*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.38.0/skin-bootstrap-n/ui.fancytree.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.38.0/skin-xp/ui.fancytree.min.css">

    <link rel="icon" type="image/x-icon" href="~/tree-app-icon.ico">
    <!-- jQuery v3.6.0 -->
    <script src="~/lib/jquery3.6.0/jquery-3.6.0.js"></script>
    <!-- This demo uses an 3rd-party, jQuery UI based context menu  href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"-->
    <link href="~/css/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <!-- jquery-contextmenu (https://github.com/mar10/jquery-ui-contextmenu/) -->
    <script src="~/lib/jquery-ui/jquery.ui-contextmenu.min.js"></script>

    @section Scripts {
        <!-- Librearia FancyTree -->
        <script src="~/lib/fancytree/jquery.fancytree.js"></script>
        <script src="~/lib/fancytree/jquery.fancytree.edit.js"></script>
        <script src="~/lib/fancytree/jquery.fancytree.dnd5.js"></script>
        <script src="~/lib/fancytree/jquery.fancytree.table.js"></script>
        <script src="~/lib/fancytree/jquery.fancytree.gridnav.js"></script>
        <!-- Programación personalizada para los requerimientos  -->
        <script src="~/js/Home/Arbol.js"></script>
    }

    <script type="text/javascript">
        var firstPyID = '@ViewBag.firstPyID';
        var permiso = '@ViewBag.permiso';
    </script>

    <style type="text/css">
        .ui-menu {
            width: 180px;
            font-size: 63%;
        }

            .ui-menu kbd {
                /* Keyboard shortcuts for ui-contextmenu titles */
                float: right;
            }
        /* custom alignment (set by 'renderColumns'' event) */
        td.alignRight {
            text-align: right;
        }

        td.alignCenter {
            text-align: center;
        }

        td input[type="input"] {
            width: 40px;
        }
        /*scroll horizontal para ver las columnas que van añadiendo a derecha*/
        div.tab-pane {
            overflow: auto;
            white-space: nowrap;
        }

        #tblAdminSecondInput .naranja {
            background-color: orange;
        }

        #tblDataFromMicroDB .equiponaranja {
            background-color: orange;
        }
    </style>
</head>

<body class="example">

    <ul class="nav nav-tabs nav-fill" data-bs-toggle="tabs">

        @foreach (var item in Model)
        {
            if (item.ProyectoID == ViewBag.firstPyID)
            {
                <li class="nav-item">
                    <a class="nav-link active disabled" href="#proyecto_@item.ProyectoID" onclick="loadTree('@item.ProyectoID', '@item.Permiso')"
                       data-bs-toggle="tab"><strong>@Html.DisplayFor(modelItem => item.TB_PROYECTO.NombreProyecto)</strong>(@item.Permiso)</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link disabled" href="#proyecto_@item.ProyectoID" onclick="loadTree('@item.ProyectoID', '@item.Permiso')"
                       data-bs-toggle="tab">@Html.DisplayFor(modelItem => item.TB_PROYECTO.NombreProyecto) (@item.Permiso)</a>
                </li>
            }
        }

        <li class="nav-item">
            <a class="nav-link disabled" href="#master" onclick="loadTree(0)"
               data-bs-toggle="tab">MASTER</a>
        </li>

    </ul>

    <div class="card">

        @*Loader*@
        <div class="card-body" id="loader">
            <div class="empty">
                <div class="empty-img">
                    <img src="https://miro.medium.com/max/875/1*CsJ05WEGfunYMLGfsT2sXA.gif" height="128">
                </div>
                <p class="empty-title">Cargando proyectos...</p>
            </div>
        </div>
        @*Loader*@

        <div class="tab-content">

            <div class="tab-pane" id="proyecto_0">

                <div class="row align-items-center">
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <span class="d-none d-sm-inline">
                                <a href="#" class="btn btn-primary" onclick="loadColumnas('tree_0',0);" data-bs-toggle="modal" data-bs-target="#modal-simple">
                                    Columnas
                                </a>
                            </span>
                            <span class="d-none d-sm-inline">
                                <a onclick="tableToExcel('tree_0', 'Modelador_Master')" style="cursor:pointer" href="#" class="btn btn-secondary">
                                    EXCEL
                                </a>
                            </span>
                            <span class="d-none d-sm-inline">
                                <a onclick="fnExpandNodes(0)" class="btn btn-secondary">
                                    Expandir
                                </a>
                            </span>
                        </div>
                    </div>
                </div>

                <table id="tree_0">
                    <colgroup>
                        <col width="1%" />
                        <col width="49%" />
                        <col width="5%" />
                        <col width="5%" />
                        <col width="5%" />
                        <col width="5%" />
                        <col width="5%" />
                        <col width="5%" />
                        <col width="5%" />
                        <col width="5%" />

                        @*<col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />*@
                    </colgroup>
                    <thead>
                        <tr id="head_tree_0">
                            <th></th>
                            <th></th>
                            <th>NRC</th>
                            <th>CANTIDAD</th>
                            <th>UNIDAD</th>
                            <th>DSCTO 1</th>
                            <th>SUBTOTAL 1</th>
                            <th>MRC</th>
                            <th>DSCTO 2</th>
                            <th>SUBTOTAL 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Define a row template for all invariant markup: -->
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                            @*<td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>*@

                            @*<td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>*@

                        </tr>
                    </tbody>
                </table>

            </div>

            @foreach (var item in Model)
            {
                <div class="tab-pane" id="proyecto_@item.ProyectoID">

                    <div class="row align-items-center">
                        <div class="col-auto ms-auto d-print-none">
                            <div class="btn-list">

                                <span class="d-none d-sm-inline">
                                    <a href="#" class="btn btn-primary" onclick="loadColumnas('tree_@item.ProyectoID','@item.ProyectoID');" data-bs-toggle="modal" data-bs-target="#modal-simple">
                                        Columnas
                                    </a>
                                </span>

                                @*<span class="d-none d-sm-inline">
                                        <select class="form-select" id="selecterColumns" name="selecterColumns" onchange="fnShowHideColumns('tree_@item.ProyectoID')">
                                            <option >Mostrar todas</option>
                                            <option >Ocultar todas</option>
                                        </select>
                                    </span>*@

                                <span class="d-none d-sm-inline">
                                    <a onclick="fnExpandNodes(@item.ProyectoID)" class="btn btn-secondary">
                                        Expandir
                                    </a>
                                </span>

                                @if (item.Permiso == "EDITOR")
                                {
                                    <span class="d-none d-sm-inline">
                                        <a onclick="EdicionInfo()" class="btn btn-primary">
                                            Puedes editar este proyecto
                                        </a>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>


                    <table id="tree_@item.ProyectoID">
                        <colgroup>
                            <col width="1%" />
                            <col width="49%" />
                            <col width="5%" />
                            <col width="5%" />
                            <col width="5%" />
                            <col width="5%" />
                            <col width="5%" />
                            <col width="5%" />
                            <col width="5%" />
                            <col width="5%" />

                            @*<col width="15%" />
                                <col width="15%" />
                                <col width="15%" />
                                <col width="15%" />
                                <col width="15%" />
                                <col width="15%" />
                                <col width="15%" />
                                <col width="15%" />
                                <col width="15%" />
                                <col width="15%" />*@
                        </colgroup>
                        <thead>
                            <tr id="head_tree_@item.ProyectoID">
                                <th></th>
                                <th></th>
                                <th>NRC</th>
                                <th>CANTIDAD</th>
                                <th>UNIDAD</th>
                                <th>DSCTO 1</th>
                                <th>SUBTOTAL 1</th>
                                <th>MRC</th>
                                <th>DSCTO 2</th>
                                <th>SUBTOTAL 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Define a row template for all invariant markup: -->
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                @*<td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>*@

                                @*<td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>*@
                            </tr>
                        </tbody>
                    </table>

                </div>
            }

        </div>
    </div>


    <div class="modal modal-blur fade" id="modal-simple" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content" id="modalContent">
                <div class="modal-header">
                    <h5 class="modal-title">Administración de Columnas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    Desde aquí podrá elegir las columnas que desee mostrar u ocultar. Haga <br />
                    Check para Mostrarla o <br />
                    Uncheck para Ocultarla.

                    <div class="table-responsive">
                        <table id="tblAdminColumnas" class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th><input id="checkAll" type="checkbox" data-parsley-multiple="checkbox"></th>
                                    <th>Nombre de Columna</th>
                                </tr>
                            </thead>

                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-utilities" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Añadir n elementos hijos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row" hidden>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">ID Nodo Parent</label>
                                <input id="txtIdParent" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">ProjectID</label>
                                <input id="txtPyID" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">Tree</label>
                                <input id="txtTree" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <div class="mb-3">
                                <label class="form-label"># Elementos</label>
                                <input id="txtCantidad" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="mb-3">
                                <label class="form-label">Nombre base</label>
                                <input id="txtNombreBase" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Cancelar
                    </a>
                    <a onclick="addNHijos()" class="btn btn-primary ms-auto">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="icon" width="24" height="24"
                             viewBox="0 0 24 24" stroke-width="2"
                             stroke="currentColor"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="12" y1="5" x2="12" y2="19" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                        </svg>
                        Añadir
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-second-input" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content" id="modalContentFields">
                <div class="modal-header">
                    <h5 class="modal-title">Conformar segundo campo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    Elija los datos de los nodos hijos que desea para conformar su segundo campo.

                    <div class="table-responsive">
                        <table id="tblAdminSecondInput" class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th><input id="checkAllDatosHijos" type="checkbox" data-parsley-multiple="checkbox"></th>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>

                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-showhide-nodes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content" id="modalShowHideNodes">
                <div class="modal-header">
                    <h5 class="modal-title">Ocultar elementos del Arbol</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    Elija los elementos que desea ocultar.

                    <div class="table-responsive">
                        <table id="tblAdminShowHide" class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th><input id="checkAllDatosHijosHide" type="checkbox" data-parsley-multiple="checkbox"></th>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>

                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-color-admin" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content" id="modalColorFields">
                <div class="modal-header">
                    <h5 class="modal-title">Aplicar Colores y Tamaños de Fuente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="col-lg-4">
                        <div class="mb-3" hidden>
                            <label class="form-label">Id del Nodo</label>
                            <input id="txtNodoId" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3" hidden>
                            <label class="form-label">Arbol Renderizado</label>
                            <input id="txtGetTree" type="text" class="form-control">
                        </div>
                    </div>

                    @*PRIMER CAMPO*@

                    <div class="mb-3">
                        <label class="form-label">Color de Primer Campo</label>
                        <div class="row g-2">

                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color" type="radio" value="silver" class="form-colorinput-input">
                                    <span style="background-color:silver" class="form-colorinput-color"></span>
                                </label>
                            </div>

                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color" type="radio" value="lightslategray" class="form-colorinput-input">
                                    <span style="background-color: lightslategray" class="form-colorinput-color"></span>
                                </label>
                            </div>

                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color" type="radio" value="grey" class="form-colorinput-input">
                                    <span style="background-color: grey" class="form-colorinput-color"></span>
                                </label>
                            </div>

                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color" type="radio" value="dimgrey" class="form-colorinput-input">
                                    <span style="background-color:dimgrey" class="form-colorinput-color"></span>
                                </label>
                            </div>

                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color" type="radio" value="dark" class="form-colorinput-input" checked="">
                                    <span class="form-colorinput-color bg-dark"></span>
                                </label>
                            </div>

                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color" type="radio" value="#206bc4" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-blue"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color" type="radio" value="#4299e1" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-azure"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color" type="radio" value="#4263eb" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-indigo"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color" type="radio" value="#ae3ec9" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-purple"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color" type="radio" value="#d6336c" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-pink"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color" type="radio" value="#d63939" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-red"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color" type="radio" value="#f76707" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-orange"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color" type="radio" value="#f59f00" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-yellow"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color" type="radio" value="#74b816" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-lime"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    @*SEGUNDO CAMPO*@

                    <div class="mb-3">
                        <label class="form-label">Color de Segundo Campo</label>
                        <div class="row g-2">

                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color-rounded" type="radio" value="silver" class="form-colorinput-input">
                                    <span style="background-color:silver" class="form-colorinput-color rounded-circle"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color-rounded" type="radio" value="lightslategray" class="form-colorinput-input">
                                    <span style="background-color: lightslategray" class="form-colorinput-color rounded-circle"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color-rounded" type="radio" value="grey" class="form-colorinput-input">
                                    <span style="background-color: grey" class="form-colorinput-color rounded-circle"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color-rounded" type="radio" value="dimgrey" class="form-colorinput-input">
                                    <span style="background-color:dimgrey" class="form-colorinput-color rounded-circle"></span>
                                </label>
                            </div>

                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color-rounded" type="radio" value="dark" class="form-colorinput-input" checked="">
                                    <span class="form-colorinput-color bg-dark rounded-circle"></span>
                                </label>
                            </div>

                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color-rounded" type="radio" value="#206bc4" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-blue rounded-circle"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color-rounded" type="radio" value="#4299e1" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-azure rounded-circle"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color-rounded" type="radio" value="#4263eb" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-indigo rounded-circle"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color-rounded" type="radio" value="#ae3ec9" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-purple rounded-circle"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color-rounded" type="radio" value="#d6336c" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-pink rounded-circle"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color-rounded" type="radio" value="#d63939" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-red rounded-circle"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color-rounded" type="radio" value="#f76707" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-orange rounded-circle"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color-rounded" type="radio" value="#f59f00" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-yellow rounded-circle"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="form-colorinput">
                                    <input name="color-rounded" type="radio" value="#74b816" class="form-colorinput-input">
                                    <span class="form-colorinput-color bg-lime rounded-circle"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-label">Tamaño de letra de Primer Campo</div>
                        <div>
                            <label class="form-check form-check-inline">
                                <input name="first-size" class="form-check-input" value="8px" type="radio">
                                <span class="form-check-label" style="font-size: 8px">8px</span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input name="first-size" class="form-check-input" value="10px" type="radio">
                                <span class="form-check-label" style="font-size: 10px">10px</span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input name="first-size" class="form-check-input" value="12px" type="radio" checked="">
                                <span class="form-check-label" style="font-size: 12px">12px</span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input name="first-size" class="form-check-input" value="14px" type="radio">
                                <span class="form-check-label" style="font-size: 14px">14px</span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input name="first-size" class="form-check-input" value="16px" type="radio">
                                <span class="form-check-label" style="font-size: 16px">16px</span>
                            </label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-label">Tamaño de letra de Segundo Campo</div>
                        <div>
                            <label class="form-check form-check-inline">
                                <input name="second-size" class="form-check-input" value="8px" type="radio">
                                <span class="form-check-label" style="font-size: 8px">8px</span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input name="second-size" class="form-check-input" value="10px" type="radio">
                                <span class="form-check-label" style="font-size: 10px">10px</span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input name="second-size" class="form-check-input" value="12px" type="radio" checked="">
                                <span class="form-check-label" style="font-size: 12px">12px</span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input name="second-size" class="form-check-input" value="14px" type="radio">
                                <span class="form-check-label" style="font-size: 14px">14px</span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input name="second-size" class="form-check-input" value="16px" type="radio">
                                <span class="form-check-label" style="font-size: 16px">16px</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Cancelar
                    </a>
                    <a onclick="fnApplyColors()" class="btn btn-primary ms-auto">
                        Aplicar
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-insert-microdb" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">

            <div class="modal-content" id="modalInsertMicroDB">
                <div class="modal-header">
                    <h5 class="modal-title">Microbases de Excel</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    Elija el equipo y sus variables respectivas que desea insertar.

                    <div class="table-responsive">
                        <table id="tblDataFromMicroDB" class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr class="header">
                                    <th><input type="checkbox" disabled></th>
                                    <th>Equipo</th>
                                    <th>NRC</th>
                                    <th>Cantidad</th>
                                    <th>UND</th>
                                    <th>Desc.1</th>
                                    <th>Subtotal.1</th>
                                    <th>MRC</th>
                                    <th>Desc.2</th>
                                    <th>Subtotal.2</th>
                                </tr>
                            </thead>

                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>




</body>

</html>